<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
    
    <!-- Menu Taux de change dans Facturation PK -->
    <record id="menu_is_taux_change" model="ir.ui.menu" >
        <field name="name">Taux de change</field>
        <field name="sequence">100</field>
        <field name="parent_id" ref="is_plastigray16.menu_main_facturation_pk"/>
        <field name="action" ref="is_taux_change_action"/>
    </record>

    <!-- Suppression restriction accès menu Investissements -->
    <record id="is_plastigray16.is_invest_main_menu" model="ir.ui.menu">
        <field name="groups_id" eval="[(5,)]"/>
    </record>

    <!-- Suppression des menus O'Work -->
    <record id="is_plastigray16.is_import_facture_owork_menu" model="ir.ui.menu">
        <field name="active" eval="False"/>
    </record>
    <record id="is_plastigray16.is_exporter_receptions_owork_menu" model="ir.ui.menu">
        <field name="active" eval="False"/>
    </record>
    <!-- <record id="is_plastigray16.is_export_cegid_achat_menu2" model="ir.ui.menu">
        <field name="active" eval="False"/>
    </record> -->

    </data>
</odoo>
